.twelve h1 {
    font-size:26px;
    font-weight:700;
    letter-spacing:1px;
    text-transform:uppercase;
    width:160px;
    text-align:center;
    margin:auto;
    white-space:nowrap;
    padding-bottom:13px;
}
.twelve h1:before {
    background-color: #c50000;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
    text-align: center;
}
.top{
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 30px;
    /*    on the same line*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin: 0;
}
.button {
    margin: 30px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.button:hover {
    background-color: #3e8e41
}
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.description-box {
    background-color: #FFFF;
    border-width: 3px;
    border-style: solid;
    border-image:
            linear-gradient(
                    to top,
                    grey,
                    rgba(0, 0, 0, 0)
            ) 1 100%;
    padding: 30px;
    margin-top: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.name {
    font-size:26px;
    font-weight:700;
    letter-spacing:1px;
    text-transform:uppercase;
    width:160px;
    text-align:center;
    white-space:nowrap;
    padding-bottom:13px;
    font-weight: bold;
}
.popularity{
    font-weight:700;
    letter-spacing:1px;
    width:160px;
    text-align:center;
    white-space:nowrap;
    font-size: 20px;
}
.vote_average{
    font-weight:700;
    letter-spacing:1px;
    width:160px;
    text-align:center;
    white-space:nowrap;
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
}
.overview{
    font-weight:700;
    letter-spacing:1px;
    width:160px;
    padding-bottom:13px;
    font-size: 20px;
    margin-bottom: 10px;
}
#overview {
    flex-basis: 100%;
}
.video {
    width: 100%;
    height: 100%;
    flex-basis: 100%;
    bottom: 0;
}