<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Randoms Show</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="top">
    <div class="twelve">
    <h1 id="title">Looking for something to watch?</h1>
    </div>
    <button class="button" type="submit" id="randomsButton">Next Series</button>
</div>

<div class="description-box">
    <div class="name" id="name" th:text="${name}">Name</div>
    <div class="popularity" id="popularity" th:text="${popularity}"> </div>
    <div th:style="'background-color: ' + ${color} + ';'" class="vote_average" id="vote_average" th:text="${vote_average}"> </div>
    <br>
    <div class="overview" id="overview" th:text="${overview}"> </div>
</div>
<div class="center">
    <iframe id="key" class="video" th:src="'https://www.youtube.com/embed/' + ${key}" allowfullscreen></iframe>
</div>
<script>
    document.getElementById("randomsButton").addEventListener("click", function() {
        window.location.reload();
    });
</script>
</body>
</html>